{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" class="form-control mx-auto mb-3" style="width: 200px;">
            <option disabled selected value="">Symbol</option>
            {% for item in symbols %}
            <option value="{{ item.symbol }}">{{ item.symbol }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min=1>
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Sell</button>
    </form>
{% endblock %}
